body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #000000;   /* pure black */
    color: #ffffff;              /* white text */
}

h1, h2, h3 {
    color: #ffffff;
}

a {
    color: #00ff7f; /*66b3ff*/
}

a:hover {
    color: #7cffb2; /*99ccff*/
}
